<!DOCTYPE html>
<html lang="en">
<head>
    <title>Kontakti kinnitus</title>
    <%- include("./partials/header.ejs") %>
</head>
<body>
    <div class="container">
        <%- include("./partials/menyy.ejs") %>
        <div class="row">
            <h1>S천num on k채tte saadud</h1>
            <div>
                <br>
                <%= nimi %>, ait채h teie s천numi eest!
            </div>
        </div>
    </div>
</body>
</html>